# LaTeX related output files
report/out
# Processed images and their zip archives
data/processed
data/archives
data/processed-whitebg
# model weights
*.pt
# the stuff that goes on the teaching portal (mobilenet and resnet weights, setup code, portion of dataset, PDF's)
submission